<div>
  <h4>Add Comment</h4>
  <%= turbo_frame_tag "form1" do%>
    <%= render 'form' %>
  <% end %>
</div>

<%
=begin%>
<div id="update_form">  
  <div>
      <%= turbo_frame_tag "frame1" do %>
        <%= render 'form', locals: {book: @book} %>
      <% end %>
  </div>
</div>   
<%
=end%>
